<template>
  <Login @show="setShowRegister" v-if="!showRegister"/>
  <Register @show="setShowRegister" v-if="showRegister"/>
</template>

<script setup>
  import Login from "@/components/LoginComponent.vue";
  import Register from "@/components/RegisterComponent.vue";

  import {ref} from 'vue'

  const showRegister = ref(false)
  const setShowRegister = () => {
    showRegister.value = !showRegister.value;
  }
</script>

<style scoped>

</style>

