<template>
  <Navbar></Navbar>
  <section class="h-full bg-green-100">
    <div class="max-w-7l px-5 py-20 flex flex-col space-y-4 w-1/2 h-full items-center justify-center mx-auto">
      <div class="flex space-x-4 justify-center w-full rounded-md">
        <div class="item w-1/2">
          <Multiselect
              mode="tags"
              v-model="genres"
              :close-on-select="false"
              :searchable="true"
              :create-option="true"
              placeholder="Select options"
              :max="5"
              :options="options"
          />
        </div>
        <div class="item">
          <button @click="generate" class="h-10 px-4 pr-3 text-md transition-colors duration-150 text-center dark:bg-green-600 dark:hover:bg-green-700 rounded-lg focus:shadow-outline hover:bg-green-800 text-black">Generate playlist</button>
        </div>
      </div>

      <div v-if="tracks.length > 0" class="flex-row space-y-4 justify-center w-full rounded-md">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">
                Title
              </th>
              <th scope="col" class="py-3 px-6">
                Artist
              </th>
              <th scope="col" class="py-3 px-6">
                Duration
              </th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="track in tracks" :key="track.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ track.title }}
              </th>
              <td class="py-4 px-6">
                {{ track.artist }}
              </td>
              <td class="py-4 px-6">
                {{ track.duration }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center item-center">
          <button @click="openModal" v-if="tracks.length > 0" type="button" class="text-black bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-green-600 dark:hover:bg-green-700">Save playlist</button>
        </div>
      </div>
    </div>
    <div class="flex justify-center item-center">
      <Validate v-if="openValidateModal" @close="closeModal" @save="save"></Validate>
    </div>

  <div v-if="saved && timeout !== 0" class="absolute top-0 right-0 p-4 mb-4 mt-20 mr-5 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
    <span class="font-medium">Your playlist was saved !</span>
  </div>
  </section>
</template>

<script setup>
import Navbar from "@/components/NavbarComponent.vue";
import Multiselect from '@vueform/multiselect'
import Validate from '@/components/ValidateComponent.vue';

import {ref, onMounted,watch,computed} from 'vue'
import axios from "axios";
const options = ref([])
const genres = ref([])
const saved = ref(false)
const timeout = ref(null)
const timeoutCountDown = ref(5)
const openValidateModal = ref(false)
const name = ref("")
let tracks = ref({})

let token = JSON.parse(localStorage.getItem('token'))
const config = {
  headers: { Authorization: `Bearer ${token}` }
};


const closeModal = () => {
  openValidateModal.value = false;
}
const openModal = () => {
  openValidateModal.value = true;
}

function generate() {
  axios.post('http://localhost:3000/playlists/generate',{
    genres : genres.value
  },config )
      .then(function (response) {
        if (response.data) {
           tracks.value = response.data.tracks
        }
      })
      .catch(function (error) {
        console.log(error);
      });
}

function save(name) {
  axios.post('http://localhost:3000/playlists',{
    name : name,
    tracks : tracks.value,
  },config )
      .then(function (response) {
        if (response.data) {
          openValidateModal.value = false;
          saved.value = true
        }
      })
      .catch(function (error) {
        console.log(error);
      });
}

watch(saved, () => {
  if(saved) {
    timeout.value = setTimeout(() => timeoutCountDown.value--, 1000)
  }
})

onMounted(() => {
    axios.get('http://localhost:3000/genres')
        .then(function (response) {
          if (response.data) {
            options.value = response.data;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
})
</script>

<style>
@import '/node_modules/@vueform/multiselect/themes/tailwind.css';
</style>