<template>
  <Navbar></Navbar>
  <div class="flex justify-center w-full flex-wrap">
    <div class="item  w-1/4 m-2 p-2 w-full" v-for="playlist in playlists" :key="playlist.id">
      <Card :playlist="playlist"></Card>
    </div>
  </div>

</template>

<script setup>
import Navbar from "@/components/NavbarComponent.vue";
import Card from "@/components/CardComponent.vue";
import {ref, onMounted } from 'vue'
import axios from "axios";
const playlists = ref([])

let token = JSON.parse(localStorage.getItem('token'))
const config = {
  headers: { Authorization: `Bearer ${token}` }
};

onMounted(() => {
  axios.get('http://localhost:3000/playlists',config)
      .then(function (response) {
        if (response.data) {
          playlists.value = response.data;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
})
</script>

<style scoped>

</style>