<template>
  <div class="p-4 w-full max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">{{ playlist.name }}</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li  v-for="track in playlist.tracks" :key="track.id"  class="pt-3 pb-0 sm:pt-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                {{ track.title}}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{ track.artist}}
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              {{ track.duration }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</template>

<script setup>
import {ref} from "vue";

const props = defineProps(['playlist'])
const playlist = ref(props.playlist)
</script>

<style scoped>

</style>