<template>
  <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="/spotify.png?color=indigo&shade=600?color=indigo&shade=600" alt="Your Company" />
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
      </div>
      <form class="mt-8 space-y-6" @submit.prevent="login">
        <input type="hidden" name="remember" value="true" />
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input v-model="email" id="email-address" name="email" type="email" autocomplete="email" required="" class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-green-500 focus:z-10 focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" placeholder="Email address" />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input v-model="password" id="password" name="password" type="password" autocomplete="current-password" required="" class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-green-900 placeholder-green-500 focus:z-10 focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" placeholder="Password" />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <label @click="show" for="remember-me" class="ml-2 block text-sm font-medium text-green-600 hover:text-green-600">Register</label>
          </div>
          <div class="text-sm">
            <a href="#" class="font-medium text-green-600 hover:text-green-600">Forgot your password?</a>
          </div>
        </div>
        <div>
          <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-green-500 py-2 px-4 text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup >
import axios from "axios";
import router from "../router";
import {defineEmits, ref} from "vue";

const email = ref("")
const password = ref("")

const emit = defineEmits(['show'])

const show = () => {
    emit('show');
}

const login = () => {
  axios.post('http://localhost:3000/login', {
    email: email.value,
    password: password.value
  })
      .then(function (response) {
        if (response.data.token) {
          localStorage.setItem('user', JSON.stringify(response.data.user));
          localStorage.setItem('token', JSON.stringify(response.data.token));
          router.push('/main')
        }
        return response.data;
      })
      .catch(function (error) {
        console.log(error);
      });
}
</script>


<style scoped>

</style>